@model MovieHall.ViewModels.SettingsPageVM
@{
    ViewData["Title"] = "Settings";
    var animeImg = ViewData["AnimeImg"];
    var movieImg = ViewData["MovieImg"];
}

<section class="mt-4 w-100 d-flex justify-content-center">
    <h1>Settings</h1>
</section>

<div class="container-fluid">
    <div class="row mx-4">

        @*------------------------------ left ------------------------------*@
        <section class="col-12 col-xxl-6">

            @*---- Genre ----*@
            <div class="w-100 text-center my-4">
                <h2>
                    Genre
                </h2>
                @*---- Tabel ----*@
                <div id="genre">
                    <div class="w-100">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Belonging To</th>
                                        <th>Aktionen</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    @foreach (var genre in Model.Genres)
                                    {
                                        <tr>
                                            <td>@genre.Name</td>
                                            <td>@genre.Belonging_to</td>
                                            <td>
                                                <button class="edit-link btn btn-primary" data-id="@genre.Id">
                                                    Edit
                                                </button>
                                                <button class="delete-link btn btn-primary" data-id="@genre.Id" data-name="@genre.Name">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary mb-3" id="openCreateModal"> Genre +</button>
                </div>
            </div>

            @*---- Home Imgs ----*@
            <div class="w-100 text-center my-4">
                <h2>
                    Edit Start Imgs
                </h2>

                @*--- Image Previews ---*@
                <div id="settingHome" class="w-100 d-flex text-center">
                    <div class="w-50 p-2">
                        <a class="w-100" onclick="document.getElementById('movieInput').click()" title="Uploade Move IMG">
                            <img id="moviePreview" class="w-100" src="@movieImg" alt="Movie Preview" />
                        </a>
                    </div>
                    <div class="w-50 p-2">
                        <a class="w-100" onclick="document.getElementById('animeInput').click()" title="Uploade Anime IMG">
                            <img id="animePreview" class="w-100" src="@animeImg" alt="Anime Preview" />
                        </a>
                    </div>

                    <input type="file" id="movieInput" accept=".jpg,.png" hidden onchange="previewImage(this, 'moviePreview', 'MovieImg')" />
                    <input type="file" id="animeInput" accept=".jpg,.png" hidden onchange="previewImage(this, 'animePreview', 'AnimeImg')" />
                </div>

                @*--- Save Buttons ---*@
                <div class="d-flex  ">
                    <div class="w-50 text-center">
                        <button class="btn btn-primary" onclick="uploadImage('movieInput', 'MovieImg')">Movie speichern</button>
                    </div>
                    <div class="w-50 text-center">
                        <button class="btn btn-primary" onclick="uploadImage('animeInput', 'AnimeImg')">Anime speichern</button>
                    </div>
                </div>
            </div>

        </section>

        @*------------------------------ right ------------------------------*@
        <section class="col-12 col-xxl-6">

            @*---- Settings ----*@
            <div class="w-100 text-center my-4">
                <h2>
                    Settings
                </h2>
                @*---- Tabel ----*@
                <div id="setting">
                    <div class="w-100">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Kommentar</th>
                                        <th>Aktionen</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    @foreach (var setting in Model.Settings)
                                    {
                                        <tr>
                                            <td>@setting.SettingName</td>
                                            <td>@setting.Comment</td>
                                            <td>
                                                <button class="edit-setting-link btn btn-primary" data-id="@setting.Id">
                                                    Edit
                                                </button>
                                                <button class="delete-setting-link btn btn-primary" data-id="@setting.Id" data-name="@setting.SettingName">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary mb-3" id="openCreateSettingModal">Setting +</button>
                </div>
            </div>

            @*---- WatchedWith ----*@
            <div class="w-100 text-center my-4">
                <h2>
                    Gegucken mit
                </h2>

                @*---- Tabel ----*@
                <div id="WatchedWith">
                    <div class="w-100">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Aktionen</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    @foreach (var WatchedWith in Model.WatchedWiths)
                                    {
                                        <tr>
                                            <td>@WatchedWith.Name</td>
                                            <td>
                                                <button class="edit-watchedWith-link btn btn-primary" data-id="@WatchedWith.Id">
                                                    Edit
                                                </button>
                                                <button class="delete-watchedWith-link btn btn-primary" data-id="@WatchedWith.Id" data-name="@WatchedWith.Name">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary mb-3" id="openCreateWatchedWithModal">WatchedWith +</button>
                </div>
            </div>

            @*---- CustomLink ----*@
            <div class="w-100 text-center my-4">
                <h2>
                    Extra Link
                </h2>

                @*---- Tabel ----*@
                <div id="CustomLink">
                    <div class="w-100">
                        <div class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Link</th>
                                        <th>Aktionen</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="tbl-content">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>
                                    @foreach (var CustomLink in Model.CustomLink)
                                    {
                                        <tr>
                                            <td>@CustomLink.Name</td>
                                            <td>@CustomLink.Link</td>
                                            <td>
                                                <button class="delete-customLink-link btn btn-primary" data-id="@CustomLink.Id" data-name="@CustomLink.Name">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button class="btn btn-primary mb-3" id="openCreateCustomLinkModal">CustomLink +</button>
                </div>
            </div>

            @*---- By List and Export/import ----*@
            <div class="w-100 d-flex">

                @*By List*@
                <div class="w-50 text-center my-4">
                    <h2>
                        Kauf Liste
                    </h2>

                    <div class="d-flex justify-content-center mb-3">
                        <button id="exportAnimes" class="btn btn-primary mx-2">Anime Kauf liste</button>

                        <button id="exportMovies" class="btn btn-primary mx-2">Film Kauf liste</button>
                    </div>
                </div>

                @*Export/import*@
                <div class="w-50 text-center my-4">
                    <h2>
                        Datenbank
                    </h2>

                    <div class="d-flex">
                        <div class="w-50 text-center">
                            <a asp-controller="Db" asp-action="ExportAll" class="btn btn-primary">
                                Export DB + Igms
                            </a>
                        </div>
                        <div class="w-50 text-center">
                            <form asp-controller="Db" asp-action="ImportAll" enctype="multipart/form-data" method="post">
                                <div class="mb-3">
                                    <input type="file" name="zipFile" id="zipFile" accept=".zip" style="display:none" required />
                                    <button type="button" class="btn btn-primary" onclick="document.getElementById('zipFile').click()">
                                        Datei wählen
                                    </button>

                                    <div class="mt-2">
                                        <span id="fileName" class="ms-2 text-muted">Keine Datei gewählt</span>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Import starten</button>
                            </form>
                            <script>
                                document.querySelector("form").addEventListener("submit", e => {
                                    console.log("Form submit triggered");
                                    console.log("FileInput value:", document.getElementById("zipFile").files[0]);
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>  
            
        </section>
    </div>
</div>


@*------------------------------ Genre (Create | Edit | Delete)------------------------------*@
@*--- Create ---*@
<div class="modal fade" id="createModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neues Genre</h5>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
            </div><div id="createModalContent"></div>
        </div>
    </div>
</div>

@*--- Edit ---*@
<div class="modal fade" id="editModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Genre bearbeiten</h5>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
            </div><div id="editModalContent"></div>
        </div>
    </div>
</div>

@*--- Delete ---*@
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteGenreForm">
                <input type="hidden" id="deleteGenreId" />
                <div class="modal-header">
                    <h5 class="modal-title">Genre löschen</h5>
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <p>Möchtest du <strong id="deleteGenreName"></strong> wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*------------------------------ Settings (Create | Edit | Delete)------------------------------*@
@*--- Create ---*@
<div class="modal fade" id="createSettingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neues Setting</h5>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
            </div>
            <div id="createSettingModalContent"></div>
        </div>
    </div>
</div>

@*--- Edit ---*@
<div class="modal fade" id="editSettingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Setting bearbeiten</h5>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
            </div>
            <div id="editSettingModalContent"></div>
        </div>
    </div>
</div>

@*--- Delete ---*@
<div class="modal fade" id="deleteSettingModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteSettingForm">
                <input type="hidden" id="deleteSettingId" />
                <div class="modal-header">
                    <h5 class="modal-title">Setting löschen</h5>
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <p>Möchtest du <strong id="deleteSettingName"></strong> wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </div>
            </form>
        </div>
    </div>
</div>



@*------------------------------ WatchedWiths (Create | Edit | Delete)------------------------------*@
@*--- Create ---*@
<div class="modal fade" id="createWatchedWithModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neues WatchedWith</h5>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
            </div>
            <div id="createWatchedWithModalContent"></div>
        </div>
    </div>
</div>

@*--- Edit ---*@
<div class="modal fade" id="editWatchedWithModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">WatchedWith bearbeiten</h5>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
            </div>
            <div id="editWatchedWithModalContent"></div>
        </div>
    </div>
</div>

@*--- Delete ---*@
<div class="modal fade" id="deleteWatchedWithModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteWatchedWithForm">
                <input type="hidden" id="deleteWatchedWithId" />
                <div class="modal-header">
                    <h5 class="modal-title">WatchedWith löschen</h5>
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <p>Möchtest du <strong id="deleteWatchedWithName"></strong> wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </div>
            </form>
        </div>
    </div>
</div>



@*------------------------------ CustomLink (Create | Delete)------------------------------*@
@*--- Create ---*@
<div class="modal fade" id="createCustomLinkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Neues CustomLink</h5>
                <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
            </div>
            <div id="createCustomLinkModalContent"></div>
        </div>
    </div>
</div>

@*--- Delete ---*@
<div class="modal fade" id="deleteCustomLinkModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteCustomLinkForm">
                <input type="hidden" id="deleteCustomLinkId" />
                <div class="modal-header">
                    <h5 class="modal-title">CustomLink löschen</h5>
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <p>Möchtest du <strong id="deleteCustomLinkName"></strong> wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/settings.js"></script>
}