@model MovieHall.ViewModels.AnimeVM
@using MovieHall.Helpers

<div id="movieList" class="w-100">

    <div class="w-100 extra-space">
        <div class="extra-fill">
            <div>
                <div class="mb-1">
                    @foreach (var dubOption in OptionHelper.ViewDubOptions)
                    {
                        <button type="button" class="btn btn-primary language @(Model.LanguageFilter == dubOption ? "aktiv-btn" : "")" data-filter="@dubOption">
                            @dubOption
                        </button>
                    }
                </div>
                <div>
                    @foreach (var langOption in OptionHelper.ViewLangOptions)
                    {
                        <button type="button" class="btn btn-primary country @(Model.CountryFilter == langOption ? "aktiv-btn" : "")" data-filter="@langOption">
                            @langOption
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="extra">
            <div>
                <button class="btn btn-primary" id="openCreateAnimeModal">Neuer Anime</button>
            </div>
            <div>
                @for (int i = 1; i <= 10; i++)
                {
                    string num = "" + i;
                    string rank = "rank" + num;
                    if (Model.RankFilter == num)
                    {
                        <button id="@rank" class="btn btn-primary aktiv-btn rank" data-filter="@i">@i</button>
                    }
                    else
                    {
                        <button id="@rank" class="btn btn-primary rank" data-filter="@i">@i</button>
                    }
                }
                <!-- Zurück -->
                <button class="btn btn-primary pagination-link @(Model.CurrentPage == 1 ? "disabled" : "")"
                        data-page="@(Model.CurrentPage - 1)">
                    <span class="sign-mid"> 
                        <img class="rotate-180" src="~/img/smal_arrows.png"/>
                    </span>
                </button>

                <!-- Vor -->
                <button class="btn btn-primary pagination-link @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")"
                        data-page="@(Model.CurrentPage + 1)">
                    <span class="sign-mid"> 
                        <img src="~/img/smal_arrows.png"/>
                    </span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="w-100 text-center">        
        @foreach (var anime in Model.Animes)
        {
            var info = Model.AnimeInfos.FirstOrDefault(i => i.AnimeId == anime.Id);
            var averageEp = info.AllEpisodes / info.AllSeasons;
            var playButton = "";
            @if (info.Available == 0)
            {
                playButton = "play-buttonR.png";
            }
            else if (info.Available < info.AllSeasons && info.Available != 0)
            {
                playButton = "play-button.png";
            }
            else if (info.Available == info.AllSeasons)
            {
                playButton = "play-buttonG.png";
            }
            <a class="item" asp-area="" asp-controller="ItemView" asp-action="Index" asp-route-id="@anime.Id" asp-route-type="Anime">
                <img src="~/img/Anime_imgs/@anime.Img" alt="@anime.Name" />
                <div class="itemName">
                    <p>@anime.Name</p>
                </div>
                <span class="p-0 px-1 itemInfoBox d-flex">
                    <div class="itemInfoSupBox itemInfoLeft">
                        <div class="itemInfoSup itemInfoHide">
                            <div class="itemInfoBack">
                                <div class="itemInfoText ps-1">S @info.AllSeasons</div>
                            </div>
                        </div>
                        <div class="itemInfoSup ms-1">
                            <div class="itemInfoBack">
                                <div class="itemInfoText ps-1">
                                    Ep @averageEp
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="itemInfoSupBox itemInfoRight">
                        <div class="itemInfoSup">
                            <div class="itemInfoBack2">
                                <div class="itemInfoText ps-1">
                                    S @info.Available
                                </div>
                            </div>
                        </div>
                        <div class="itemInfoSup itemInfoHide ms-1">
                            <div class="itemInfoBack2">
                                <div class="itemInfoText ps-1">
                                    <img class="" src="~/img/@playButton" />
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </a>
        }
    </div>

</div>