@model MovieHall.SaveModel.SaveAnime
@using MovieHall.Helpers
@{
    @*Genre*@
    var genres = ViewBag.Genres as List<MovieHall.Models.Genre>;
    var selectedGenreIds = Model.AnimeGenres?.Select(g => g.GenreId).ToList() ?? new List<int>();

    @*WatchedWith*@
    var watched = ViewBag.WatchedWith as List<MovieHall.Models.WatchedWith>;
}

<form id="createAnimeForm" enctype="multipart/form-data" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="createAnimeModalLabel">Neuen Film hinzufügen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
    </div>
    <div class="modal-body">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3">
            <label for="animeName"><b>Name</b></label>
            <input class="form-control" id="animeName" value="@Model.Name" name="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
            <input type="hidden" name="ParentId" value="@Model.ParentId" />
            <input type="hidden" name="WhatTimes" value="1" />
        </div>

        <div class="mb-3">
            <label for="animeOrginalName"><b>Orginal Name</b></label>
            <input class="form-control" id="animeOrginalName" name="Orginal_Name" value="@Model.Orginal_Name" />
            <span asp-validation-for="Orginal_Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Top"><b>Rank</b></label>
            <select asp-for="Top" class="form-control">
                @foreach (var top in OptionHelper.TopOptions)
                {
                    if (Model.Top == top.Key)
                    {
                        <option value="@top.Key" selected>@top.Value</option>
                    }
                    else
                    {
                        <option value="@top.Key">@top.Value</option>
                    }
                }
            </select>
            <span asp-validation-for="Top" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="buy"><b>Kaufmedium</b></label>
            <select class="form-control" id="buy" name="Buy">
                @foreach (var option in OptionHelper.BuyOptions)
                {
                    if (Model.Buy == option.Key)
                    {
                        <option value="@option.Key" selected>@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
        </div>

        <div class="mb-3">
            <label for="imageFile"><b>Bild</b> (wird gespeichert in /img/Anime_imgs)</label>
            <input type="file" name="Img" id="imageFile" class="form-control" accept="image/*" />
            <span asp-validation-for="Img" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label><b>Veröffentlichungsdatum</b></label>
            <div class="d-flex">
                <select asp-for="ReleaseMonth" class="form-control w-50 me-1" name="ReleaseMonth">
                    <option value="">Monat wählen...</option>
                    @foreach (var month in OptionHelper.MonthsOptions)
                    {
                        if (month.Key == Model.ReleaseMonth)
                        {
                            <option value="@month.Key" selected>@month.Value</option>

                        } else
                        {
                            <option value="@month.Key">@month.Value</option>                            
                        }
                    }
                </select>

                <select asp-for="ReleaseYear" class="form-control w-50 ms-1" name="ReleaseYear">
                    <option value="">Jahr wählen...</option>
                    @for (int year = OptionHelper.CurrentYear; year >= OptionHelper.StartYear; year--)
                    {
                        if (year == Model.ReleaseYear)
                        {
                            <option value="@year" selected>@year</option>
                            
                        } else
                        {
                            <option value="@year">@year</option>
                        }
                    }
                </select>         
            </div>
            <div class="d-flex">                
                <span asp-validation-for="ReleaseMonth" class="text-danger me-1 w-50"></span>
                
                <span asp-validation-for="ReleaseYear" class="text-danger ms-1 w-50"></span>   
            </div>
        </div>

        <div class="mb-3">
            <label for="link"><b>Link</b></label>
            <input type="url" name="Link" id="link" class="form-control" value="@Model.Link" />
            <span asp-validation-for="Link" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="episodes"><b>Episoden</b></label>
            <input type="number" name="Episodes" id="episodes" class="form-control" value="@Model.Episodes" />
            <span asp-validation-for="Episodes" class="text-danger"></span>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0"><b>Sprache</b></label>
            @foreach (var lang in OptionHelper.LanguageOptions)
            {
                var isChecked = (Model.Language ?? new List<string>()).Contains(lang) ? "checked" : "";
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" name="Language" value="@lang" id="@lang" @isChecked/>
                    <label class="form-check-label" for="@lang">@lang</label>
                </div>                
            }
            <span asp-validation-for="Language" class="text-danger p-0"></span>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0"><b>Genres</b></label>
            @foreach (var g in genres)
            {
                if (g.Belonging_to.Contains("A") || g.Belonging_to.Contains("a"))
                {
                    var isChecked = selectedGenreIds.Contains(g.Id) ? "checked" : "";
                    <div class="form-check col-4">
                        <input class="form-check-input" type="checkbox" name="SelectedGenreIds" value="@g.Id" id="genre_@g.Id" @isChecked />
                        <label class="form-check-label" for="genre_@g.Id">@g.Name</label>
                    </div>
                }
            }
            <span asp-validation-for="SelectedGenreIds" class="text-danger p-0"></span>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0"><b>Mit wem geschaut</b></label>
            @foreach (var w in watched)
            {
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" name="SelectedWatchedWithIds" value="@w.Id" id="watched_@w.Id" />
                    <label class="form-check-label" for="watched_@w.Id">@w.Name</label>
                </div>
            }
        </div>

        <div class="mb-3">
            <label for="description"><b>Beschreibung</b></label>
            <textarea class="form-control" id="description" name="Description" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label asp-for="Country"><b>Land</b></label>
            <select asp-for="Country" class="form-control">
                @foreach (var option in OptionHelper.CountryOptions)
                {
                    if (Model.Country == option.Key)
                    {
                        <option value="@option.Key" selected>@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
</form>