@model MovieHall.SaveModel.SaveAnime


<form id="editAnimeForm" enctype="multipart/form-data" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="createAnimeModalLabel">Film Bearbeiten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
    </div>

    <div class="modal-body">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Orginal_Name">Orginal Name</label>
            <input asp-for="Orginal_Name" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Top">Rank</label>
            <select asp-for="Top" class="form-control">
                @{
                    var topOptions = new Dictionary<int, string>
                                {
                                { 0, "Top 1" },
                                { 1, "Top 2" },
                                { 2, "Top 3" },
                                { 3, "Top 4" },
                                { 4, "Top 5" },
                                { 5, "Top 6" },
                                { 6, "Top 7" },
                                { 7, "Top 8" },
                                { 8, "Top 9" },
                                { 9, "Top 10" }
                                };
                    foreach (var top in topOptions)
                    {
                        if (Model.Top == top.Key)
                        {
                            <option value="@top.Key" selected>@top.Value</option>
                        }
                        else
                        {
                            <option value="@top.Key">@top.Value</option>
                        }
                    }
                }
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Buy">Kaufstatus</label>
            <select asp-for="Buy" class="form-control">
                @{
                    var buyOptions = new Dictionary<int, string>
                                {
                                { 0, "Noch nicht" },
                                { 1, "DVD" },
                                { 2, "Blu-ray" },
                                { 3, "3D" }
                                };
                    foreach (var option in buyOptions)
                    {
                        if (Model.Buy == option.Key)
                        {
                            <option value="@option.Key" selected>@option.Value</option>
                        }
                        else
                        {
                            <option value="@option.Key">@option.Value</option>
                        }
                    }
                }
            </select>
        </div>


        <div class="mb-3">
            <label asp-for="Description">Beschreibung</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="mb-3">
            <label asp-for="Img">Bild</label>
            <input asp-for="Img" class="form-control" accept="image/*" type="file" />

            <input type="hidden" asp-for="ImgPath" />
            @if (!string.IsNullOrEmpty(Model.ImgPath))
            {
                <div class="mt-2 d-flex justify-content-center">
                    <img src="~/img/Anime_imgs/@Model.ImgPath" alt="Aktuelles Bild" style="max-height: 150px; max-width: 100%;" />
                </div>
            }
        </div>

        <div class="mb-3">
            <label asp-for="ReleaseDate">Veröffentlichungsdatum</label>
            <input asp-for="ReleaseDate" type="date" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Link">Link</label>
            <input asp-for="Link" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Episodes">Episodes</label>
            <input asp-for="Episodes" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Language">Sprache</label>
            <select asp-for="Language" class="form-control">
                @{
                    var langOptions = new Dictionary<string, string>
                                {
                                { "en", "Englisch" },
                                { "sub", "Sub" },
                                { "jap", "Japanisch" },
                                { "de", "Deutsch" }
                                };
                    foreach (var option in langOptions)
                    {
                        if (Model.Language == option.Key)
                        {
                            <option value="@option.Key" selected>@option.Value</option>
                        }
                        else
                        {
                            <option value="@option.Key">@option.Value</option>
                        }
                    }
                }
            </select>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0">Genres</label>
            @{
                var selectedGenreIds = Model.AnimeGenres?.Select(g => g.GenreId).ToList() ?? new List<int>();
                var genres = ViewBag.Genres as List<MovieHall.Models.Genre>;
            }

            @foreach (var g in genres)
            {
                if (g.Belonging_to.Contains("A") || g.Belonging_to.Contains("a"))
                {
                    var isChecked = selectedGenreIds.Contains(g.Id) ? "checked" : "";
                    <div class="form-check col-4">
                        <input class="form-check-input" type="checkbox" name="SelectedGenreIds" value="@g.Id" id="genre_@g.Id" @isChecked />
                        <label class="form-check-label" for="genre_@g.Id">@g.Name</label>
                    </div>
                }
            }
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0">Mit wem gesehen</label>
            @{
                var selectedWatchedIds = Model.AnimeWatchedWiths?.Select(w => w.WatchedWithId).ToList() ?? new List<int>();
                var watchedWiths = ViewBag.WatchedWiths as List<MovieHall.Models.WatchedWith>;
            }
            @foreach (var w in watchedWiths)
            {
                var isChecked = selectedWatchedIds.Contains(w.Id) ? "checked" : "";
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" name="SelectedWatchedWithIds" value="@w.Id" id="watched_@w.Id" @isChecked />
                    <label class="form-check-label" for="watched_@w.Id">@w.Name</label>
                </div>
            }
        </div>        
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>

</form>