@model MovieHall.ViewModels.AnimeVM
@{
    ViewData["Title"] = "Anime";
}

<section id="anime" class="mt-4">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="body-HD-size">

                @* AJAX-Container *@
                <div id="animeContainer">
                    @await Html.PartialAsync("~/Views/Anime/_AnimeListPartial.cshtml", Model)
                </div>

                <div class="under-content px-4">
                    <div class="under-content-container p-2">
                        <div class="d-flex">
                            <div class="under-content-info">
                                <b>Alle Animes:</b> @Model.AnimeSum
                            </div>
                            <div class="under-content-info ms-3">
                                <b>Alle Episoden:</b> @Model.AnimeEpSum
                            </div>
                            <div class="under-content-info ms-3">
                                <b>Anime Zeit:</b> @Model.AnimeTime
                            </div>
                            <div class="under-content-info ms-3">
                                <b>Geguckte Zeit:</b> @Model.WatchTime
                            </div>
                        </div>

                        <label for="toggleNote" class="btn btn-primary">Notes</label>
                    </div>
                </div>

                <div class="under-content px-4">
                    <div class="under-content-container">
                        <input type="checkbox" id="toggleNote" hidden>
                        <div id="note" class="container-fluid">
                            <div class="row pt-2">
                                <div class="col-1 align-content-center text-center">
                                    <button id="scrollLeft">
                                        <img class="rotate-180" src="~/img/big_arrow.png" />
                                    </button>
                                </div>
                                <div class="col-10">
                                    <div class="gallery-container">
                                        <div class="gallery-track">
                                            @if (Model.Notes != null)
                                            {
                                                @foreach (var note in Model.Notes)
                                                {

                                                    <a class="note-elem w-25 d-flex p-2 mx-2" asp-area="" asp-controller="ItemView" asp-action="Index" asp-route-id="@note.AnimeId" asp-route-type="Anime">
                                                        <div class="note-L">
                                                            <img class="w-100" src="~/img/Anime_imgs/@note.Img" />
                                                        </div>
                                                        <div class="note-R ps-2">
                                                            @note.Comment
                                                        </div>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="col-1 align-content-center text-center">
                                    <button id="scrollRight">
                                        <img src="~/img/big_arrow.png" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@*------------------------------ Anime (Create | Edit | Delete)------------------------------*@

@*Modal für Create/Edit *@

<div class="modal fade" id="animeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="animeModalContent">
            @* Inhalt von PartialView wird hier per JS geladen *@
        </div>
    </div>
</div>

@*Modal für Delete *@
<div class="modal fade" id="deleteAnimeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteAnimeForm">
                <div class="modal-header">
                    <h5 class="modal-title">Film löschen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="deleteAnimeId" />
                    <p>Soll der Film <strong>"<span id="deleteAnimeName"></span>"</strong> wirklich gelöscht werden?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-danger">Löschen</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/animes.js"></script>
}
