@model MovieHall.ViewModels.ViewVM
@{
    ViewData["Title"] = "View";

    var buyOptions = new Dictionary<int, string>{
        { 0, "Noch nicht" },
        { 1, "DVD" },
        { 2, "Blu-ray" },
        { 3, "3D" }
    };
    var langOptions = new Dictionary<string, string>{
        { "en", "Englisch" },
        { "sub", "Sub" },
        { "jap", "Japanisch" },
        { "de", "Deutsch" }
    };
}

<section class="d-flex justify-content-center">
    <div style="width:1920px">
        <div class="container-fluid">
            <div class="row">
                @*----------------------- Left ----------------------- *@
                <div class="col-2">
                    @* ----- Anime ----- *@
                    @if (Model.ParentAnime != null)
                    {
                        var imgSrc = "/img/Anime_imgs/" + Model.ParentAnime.Img;
                        <a class="row" asp-area="" asp-controller="Home" asp-action="ItemView" asp-route-id="@Model.ParentAnime.Id" asp-route-type="Anime">
                            <div class="col-4"><img class="w-100" src="@imgSrc" /></div>
                            <div class="col-8 align-content-center"><p>@Model.ParentAnime.Name</p></div>
                        </a>
                    }
                    @if (Model.ChildAnimes != null)
                    {
                        @foreach (var child in Model.ChildAnimes)
                        {
                            var imgSrc = "/img/Anime_imgs/" + child.Img;
                            <a class="row" asp-area="" asp-controller="Home" asp-action="ItemView" asp-route-id="@child.Id" asp-route-type="Anime">
                                <div class="col-4"><img class="w-100" src="@imgSrc" /></div>
                                <div class="col-8 align-content-center"><p>@child.Name</p></div>
                            </a>
                        }
                    }
                    @if (Model.ParentAnime != null)
                    {
                        <div class="row my-3">
                            <button class="btn btn-primary" id="openCreateAnimeModal" data-parent-id="@Model.ParentAnime.Id">
                                Add Anime vortsetzung
                            </button>
                        </div>
                    }

                    @* ----- Movie ----- *@
                    @if (Model.ParentMovie != null)
                    {
                        var imgSrc = "/img/Movie_imgs/" + Model.ParentMovie.Img;
                        <a class="row" asp-area="" asp-controller="Home" asp-action="ItemView" asp-route-id="@Model.ParentMovie.Id" asp-route-type="Movie">
                            <div class="col-4"><img class="w-100" src="@imgSrc" /></div>
                            <div class="col-8 align-content-center"><p>@Model.ParentMovie.Name</p></div>
                        </a>
                    }
                    @if (Model.ChildMovies != null)
                    {
                        @foreach (var child in Model.ChildMovies)
                        {
                            var imgSrc = "/img/Movie_imgs/" + child.Img;
                            <a class="row" asp-area="" asp-controller="Home" asp-action="ItemView" asp-route-id="@child.Id" asp-route-type="Movie">
                                <div class="col-4"><img class="w-100" src="@imgSrc" /></div>
                                <div class="col-8 align-content-center"><p>@child.Name</p></div>
                            </a>
                        }
                    }
                    @if (Model.ParentMovie != null)
                    {
                        <div class="row my-3">
                            <button class="btn btn-primary" id="openCreateMovieModal" data-parent-id="@Model.ParentMovie.Id">
                                Add Film vortsetzung
                            </button>
                        </div>
                    }

                </div>

                @* ----------------------- Mid ----------------------- *@
                <div class="col-8">
                    <div class="w-100 text-center">
                        @if (Model.Favorit != null)
                        {
                            <h1>@Model.Name *</h1>
                        } else
                        {
                            <h1>@Model.Name</h1>
                        }
                    </div>

                    <div class="row">
                        @* TODO ParentId, link und Id  *@
                        <div class="col-3 text-center">
                            <img src="@Model.Img"/>
                        </div>

                        <div class="col-9">

                            @if (Model.Orginal_Name != null)
                            {
                                <p><b>Orginaler Name:</b> @Model.Orginal_Name</p>
                            }
                            @if(Model.Top != null)
                            {
                                <p><b>Rank:</b> @Model.Top</p>
                            }
                            @if (Model.Episodes != null)
                            {
                                <p class="mt-0"><b>Folgen:</b> @Model.Episodes</p>
                            }

                            @if (Model.FSK != null)
                            {
                                <p class="my-0"><b>FSK:</b> @Model.FSK</p>
                            }
                            <p>
                                <b>Besitz:</b> @buyOptions[Model.Buy] <br />
                                <b>Sprache:</b> @langOptions[Model.Language] <br />
                                <b>Veröffentlicht:</b> @Model.ReleaseDate

                            </p>


                            <p class="my-0"><b>Genres:</b></p>
                            @if(Model.AnimeGenres != null && Model.Top != null)
                            {
                                var genreText = "";
                                foreach (var genre in Model.AnimeGenres)
                                {
                                    genreText += genre.Genre.Name;
                                }
                                <p>@genreText</p>
                            }

                            @if(Model.MovieGenres != null && Model.FSK != null)
                            {
                                var genreText = "";
                                foreach (var genre in Model.MovieGenres)
                                {
                                    genreText += genre.Genre.Name + ", ";
                                }
                                <p>@genreText</p>
                            }

                            <p>
                                <b>Bescheibung:</b> @Model.Description
                            </p>

                        </div>
                    </div>
                </div>

                @* ----------------------- rigth ----------------------- *@
                <div class="col-2 ">
                    <h1>3333 33 33333 33 3333333333 3 333333 3 33333 33 3 3333 33333 33 333 33 3 3 3333 333 33 3 3 33 333 33 333</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="movieModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="movieModalContent">
            @* Inhalt von PartialView wird hier per JS geladen *@
        </div>
    </div>
</div>

<div class="modal fade" id="animeModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="animeModalContent">
            @* Inhalt von PartialView wird hier per JS geladen *@
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/itemView.js"></script>
}
