@model IEnumerable<MovieHall.Models.Movie>
@{
    ViewData["Title"] = "Movie";
}

<h2>Movie List</h2>

<button class="btn btn-primary mb-3" id="openCreateMovieModal">Neuer Film</button>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>FSK</th>
            <th>Sprache</th>
            <th>Genres</th>
            <th>Gesehen mit</th>
            <th>Fortsetzung</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Name</td>
                <td>@movie.FSK</td>
                <td>@movie.Language</td>
                <td>@string.Join(", ", movie.MovieGenres.Select(g => g.Genre.Name))</td>
                <td>@string.Join(", ", movie.MovieWatchedWiths.Select(w => w.WatchedWith.Name))</td>
                <td>@movie.Parent?.Name</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="openEditModal(@movie.Id)">Bearbeiten</button>
                    <button class="btn btn-sm btn-danger" onclick="deleteMovie(@movie.Id)">Löschen</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@*------------------------------ Movie (Create | Edit | Delete)------------------------------*@

@*Modal für Create/Edit *@


<div class="modal fade" id="movieModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="movieModalContent">
            @* Inhalt von PartialView wird hier per JS geladen *@
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/movies.js"></script>
}
