@model MovieHall.SaveModel.SaveMovie
@using MovieHall.Helpers
@{
    var genres = ViewBag.Genres as List<MovieHall.Models.Genre>;
    var watched = ViewBag.WatchedWith as List<MovieHall.Models.WatchedWith>;

    var selectedGenreIds = new List<int>();

    if (Model.MovieGenres.Count() != 0)
    {
        selectedGenreIds = Model.MovieGenres?.Select(g => g.GenreId).ToList();

    } else if(Model.SelectedGenreIds != null)
    {
        selectedGenreIds = Model.SelectedGenreIds;
    }
}

<form id="createMovieForm" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title" id="createMovieModalLabel">Neuen Film hinzufügen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
    </div>
    <div class="modal-body">
            <input type="hidden" name="ParentId" value="@Model.ParentId" />

        <div class="mb-3">
            <label for="movieName"><b>Name</b></label>
            <input class="form-control" id="movieName" value="@Model.Name" name="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="buy"><b>Kaufmedium</b></label>
            <select class="form-control" id="buy" name="Buy">
                @foreach (var option in OptionHelper.BuyOptions)
                {
                    if (Model.Buy == option.Key)
                    {
                        <option value="@option.Key" selected>@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
        </div>

        <div class="mb-3">
            <input type="hidden" name="TempImgPath" value="@Model.TempImgPath" />

            <label for="imageFile"><b>Bild</b> (wird gespeichert in /img/Movie_imgs)</label>
            <input type="file" name="Img" id="imageFile" class="form-control" accept="image/*" />
            <span asp-validation-for="Img" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="fsk"><b>FSK</b></label>
            <select class="form-control" id="fsk" name="FSK">
                @foreach (var fsk in OptionHelper.FSKOptions)
                {
                    if (Model.FSK == fsk.Key)
                    {
                        <option value="@fsk.Key" selected>@fsk.Value</option>
                    }
                    else
                    {
                        <option value="@fsk.Key">@fsk.Value</option>
                    }
                }
            </select>
            <span asp-validation-for="FSK" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" name="Favorit" class="form-check-input" id="favorit" value="@Model.Favorit" />
            <label class="form-check-label" for="favorit"><b>Favorit</b></label>
        </div>

        <div class="mb-3">
            <label><b>Veröffentlichungsdatum</b></label>
            <select asp-for="ReleaseYear" class="form-control" name="ReleaseYear">
                <option value="">Jahr wählen...</option>
                @for (int year = OptionHelper.CurrentYear; year >= OptionHelper.StartYear; year--)
                {
                    if (year == Model.ReleaseYear)
                    {
                        <option value="@year" selected>@year</option>
                            
                    } else
                    {
                        <option value="@year">@year</option>
                    }
                }
            </select>  
            <span asp-validation-for="ReleaseYear" class="text-danger"></span>  
        </div>

        <div class="mb-3">
            <label for="link"><b>Link</b></label>
            <input type="url" name="Link" id="link" class="form-control" value="@Model.Link" />
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0"><b>Sprache</b></label>
            @foreach (var lang in OptionHelper.MovielangOptions)
            {
                var isChecked = (Model.Language ?? new List<string>()).Contains(lang) ? "checked" : "";
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" name="Language" value="@lang" id="@lang" @isChecked/>
                    <label class="form-check-label" for="@lang">@lang</label>
                </div>                
            }
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0"><b>Genres</b></label>
            @foreach (var g in genres)
            {
                if (g.Belonging_to.Contains("M") || g.Belonging_to.Contains("m"))
                {
                    var isChecked = selectedGenreIds.Contains(g.Id) ? "checked" : "";
                    <div class="form-check col-4">
                        <input class="form-check-input" type="checkbox" name="SelectedGenreIds" value="@g.Id" id="genre_@g.Id" @isChecked />
                        <label class="form-check-label" for="genre_@g.Id">@g.Name</label>
                    </div>
                }
            }
            <span asp-validation-for="SelectedGenreIds" class="text-danger"></span>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0"><b>Mit wem geschaut</b></label>
            @foreach (var w in watched)
            {
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" name="SelectedWatchedWithIds" value="@w.Id" id="watched_@w.Id" />
                    <label class="form-check-label" for="watched_@w.Id">@w.Name</label>
                </div>
            }
        </div>
        
        <div class="mb-3">
            <label for="description"><b>Beschreibung</b></label>
            <textarea class="form-control" id="description" name="Description" rows="3"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
</form>