@model MovieHall.SaveModel.SaveMovie
@{
    var genres = ViewBag.Genres as List<MovieHall.Models.Genre>;
    var watched = ViewBag.WatchedWith as List<MovieHall.Models.WatchedWith>;
}

<form id="createMovieForm" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title" id="createMovieModalLabel">Neuen Film hinzufügen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
    </div>
    <div class="modal-body">

        <div class="mb-3">
            <label for="movieName">Name</label>
            <input class="form-control" id="movieName" name="Name" required />
        </div>

        <div class="mb-3">
            <label for="buy">Kaufmedium</label>
            <select class="form-control" id="buy" name="Buy">
                <option value="0">Noch nicht</option>
                <option value="1">DVD</option>
                <option value="2">Blu-ray</option>
                <option value="3">3D</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="description">Beschreibung</label>
            <textarea class="form-control" id="description" name="Description" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="imageFile">Bild (wird gespeichert in /img/Movie_imgs)</label>
            <input type="file" name="Img" id="imageFile" class="form-control" accept="image/*" />
        </div>

        <div class="mb-3">
            <label for="fsk">FSK</label>
            <select class="form-control" id="fsk" name="FSK">
                <option value="0">0+</option>
                <option value="6">6+</option>
                <option value="12">12+</option>
                <option value="16">16+</option>
                <option value="18">18+</option>
            </select>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" name="Favorit" class="form-check-input" id="favorit" value="true" />
            <label class="form-check-label" for="favorit">Favorit</label>
        </div>

        <div class="mb-3">
            <label for="releaseDate">Veröffentlichungsdatum</label>
            <input type="date" name="ReleaseDate" id="releaseDate" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="link">Trailer-Link</label>
            <input type="url" name="Link" id="link" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="language">Sprache</label>
            <select class="form-control" name="Language" id="language">
                <option value="de">Deutsch</option>
                <option value="en">Englisch</option>
            </select>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0">Genres</label>
            @foreach (var g in genres)
            {
                if (g.Belonging_to.Contains("M") || g.Belonging_to.Contains("m"))
                {
                    <div class="form-check col-4">
                        <input class="form-check-input" type="checkbox" name="SelectedGenreIds" value="@g.Id" id="genre_@g.Id" />
                        <label class="form-check-label" for="genre_@g.Id">@g.Name</label>
                    </div>
                }
            }
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0">Mit wem geschaut</label>
            @foreach (var w in watched)
            {
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" name="SelectedWatchedWithIds" value="@w.Id" id="watched_@w.Id" />
                    <label class="form-check-label" for="watched_@w.Id">@w.Name</label>
                </div>
            }
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
</form>

@*
    @model MovieHall.SaveModel.SaveMovie
@{
    var genres = ViewBag.Genres as List<MovieHall.Models.Genre>;
    var watched = ViewBag.WatchedWith as List<MovieHall.Models.WatchedWith>;
}

<form id="createMovieForm" enctype="multipart/form-data">
    <div class="modal-header">
        <h5 class="modal-title" id="createMovieModalLabel">Neuen Film hinzufügen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
    </div>
    <div class="modal-body">

        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for ="Name" class="form-control" id="movieName" required />
        </div>

        <div class="mb-3">
            <label asp-for="Buy">Kaufmedium</label>
            <select asp-for="Buy" class="form-control" id="buy">
                <option value="0">Noch nicht</option>
                <option value="1">DVD</option>
                <option value="2">Blu-ray</option>
                <option value="3">3D</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Description" for="description">Beschreibung</label>
            <textarea asp-for="Description" class="form-control" id="description" name="Description" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label asp-for="Img">Bild (wird gespeichert in /img/Movie_imgs)</label>
            <input asp-for="Img" type="file" id="imageFile" class="form-control" accept="image/*" />
        </div>

        <div class="mb-3">
            <label asp-for="FSK">FSK</label>
            <select asp-for="FSK" class="form-control" id="fsk">
                <option value="0">0+</option>
                <option value="6">6+</option>
                <option value="12">12+</option>
                <option value="16">16+</option>
                <option value="18">18+</option>
            </select>
        </div>

        <div class="form-check mb-3">
            <input asp-for="Favorit" type="checkbox" class="form-check-input" id="favorit" value="true" />
            <label asp-for="Favorit" class="form-check-label">Favorit</label>
        </div>

        <div class="mb-3">
            <label asp-for="ReleaseDate">Veröffentlichungsdatum</label>
            <input asp-for="ReleaseDate" type="date" id="releaseDate" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Link">Trailer-Link</label>
            <input asp-for="Link" type="url" id="link" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Language">Sprache</label>
            <select asp-for="Language" class="form-control" id="language">
                <option value="de">Deutsch</option>
                <option value="en">Englisch</option>
            </select>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0">Genres</label>
            @if (genres != null)
            {
                @foreach (var g in genres)
                {
                    if (g.Belonging_to.Contains("M") || g.Belonging_to.Contains("m"))
                    {
                        <div class="form-check col-4">
                            <input asp-for="MovieGenres" class="form-check-input" type="checkbox" value="@g.Id" id="genre_@g.Id" />
                            <label asp-for="MovieGenres" class="form-check-label">@g.Name</label>
                        </div>
                    }
                }
            } else
            {
                <div>
                    Keine "Genres"
                </div>
            }

        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0">Mit wem geschaut</label>
            @if (watched != null)
            {
                @foreach (var w in watched)
                {
                    <div class="form-check col-4">
                        <input asp-for="MovieWatchedWiths" class="form-check-input" type="checkbox" value="@w.Id" id="watched_@w.Id" />
                        <label asp-for="MovieWatchedWiths" class="form-check-label">@w.Name</label>
                    </div>
                }
            } else
            {
                <div>
                    Keine "Mit wem geschaut"
                </div>
            }
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Speichern</button>
    </div>
</form>
*@