@model MovieHall.SaveModel.SaveMovie
@using MovieHall.Helpers

<form id="editMovieForm" enctype="multipart/form-data" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="createMovieModalLabel">Film Bearbeiten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
    </div>

    <div class="modal-body">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ParentId" />

        <div class="mb-3">
            <label asp-for="Name"><b>Name</b></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Buy"><b>Kaufstatus</b></label>
            <select asp-for="Buy" class="form-control">
                @foreach (var option in OptionHelper.BuyOptions)
                {
                    if (Model.Buy == option.Key)
                    {
                        <option value="@option.Key" selected>@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Img"><b>Bild</b></label>
            <input asp-for="Img" class="form-control" accept="image/*" type="file" />

            <input type="hidden" asp-for="ImgPath" />
            @if (!string.IsNullOrEmpty(Model.ImgPath))
            {
                <div class="mt-2 d-flex justify-content-center">
                    <img src="~/img/Movie_imgs/@Model.ImgPath" alt="Aktuelles Bild" style="max-height: 150px; max-width: 100%;" />
                </div>
            }
            <span asp-validation-for="Img" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FSK"><b>FSK</b></label>
            <select asp-for="FSK" class="form-control">
                @foreach (var option in OptionHelper.FSKOptions)
                {
                    if (Model.FSK == option.Key)
                    {
                        <option value="@option.Key" selected>@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
            <span asp-validation-for="FSK" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input type="checkbox" asp-for="Favorit" class="form-check-input" />
            <label class="form-check-label" asp-for="Favorit"><b>Favorit</b></label>
        </div>

        <div class="mb-3">
            <label><b>Veröffentlichungsdatum</b></label>
            <select asp-for="ReleaseYear" class="form-control" name="ReleaseYear">
                <option value="">Jahr wählen...</option>
                @for (int year = OptionHelper.CurrentYear; year >= OptionHelper.StartYear; year--)
                {
                    if (year == Model.ReleaseYear)
                    {
                        <option value="@year" selected>@year</option>
                            
                    } else
                    {
                        <option value="@year">@year</option>
                    }
                }
            </select>  
            <span asp-validation-for="ReleaseYear" class="text-danger"></span>  
        </div>

        <div class="mb-3">
            <label asp-for="Link"><b>Link</b></label>
            <input asp-for="Link" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Language"><b>Sprache</b></label>
            <select asp-for="Language" class="form-control">
                @foreach (var option in OptionHelper.MovielangOptions)
                {
                    if (Model.Language == option.Key)
                    {
                        <option value="@option.Key" selected>@option.Value</option>
                    }
                    else
                    {
                        <option value="@option.Key">@option.Value</option>
                    }
                }
            </select>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0"><b>Genres</b></label>
            @{
                var selectedGenreIds = Model.MovieGenres?.Select(g => g.GenreId).ToList() ?? new List<int>();
                var genres = ViewBag.Genres as List<MovieHall.Models.Genre>;
            }

            @foreach (var g in genres)
            {
                if (g.Belonging_to.Contains("M") || g.Belonging_to.Contains("m"))
                {
                    var isChecked = selectedGenreIds.Contains(g.Id) ? "checked" : "";
                    <div class="form-check col-4">
                        <input class="form-check-input" type="checkbox" name="SelectedGenreIds" value="@g.Id" id="genre_@g.Id" @isChecked />
                        <label class="form-check-label" for="genre_@g.Id">@g.Name</label>
                    </div>
                }
            }
            <span asp-validation-for="SelectedGenreIds" class="text-danger"></span>
        </div>

        <div class="checkbox-popup mb-3 row">
            <label class="ps-0"><b>Mit wem gesehen</b></label>
            @{
                var selectedWatchedIds = Model.MovieWatchedWiths?.Select(w => w.WatchedWithId).ToList() ?? new List<int>();
                var watchedWiths = ViewBag.WatchedWiths as List<MovieHall.Models.WatchedWith>;
            }
            @foreach (var w in watchedWiths)
            {
                var isChecked = selectedWatchedIds.Contains(w.Id) ? "checked" : "";
                <div class="form-check col-4">
                    <input class="form-check-input" type="checkbox" name="SelectedWatchedWithIds" value="@w.Id" id="watched_@w.Id" @isChecked />
                    <label class="form-check-label" for="watched_@w.Id">@w.Name</label>
                </div>
            }
        </div>  
                

        <div class="mb-3">
            <label asp-for="Description"><b>Beschreibung</b></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Speichern</button>
    </div>

</form>