@model MovieHall.ViewModels.MovieVM
@using MovieHall.Helpers

<div id="movieList" class="w-100">

    <div class="w-100 text-center">
        @foreach (var movie in Model.Movies)
        {
            var info = Model.MovieInfos.FirstOrDefault(i => i.MovieId == movie.Id);
            var playButton = "";
            @if (info.Available == 0)
            {
                playButton = "play-buttonR.png";
            }
            else if (info.Available < info.AllSeasons && info.Available != 0)
            {
                playButton = "play-button.png";
            }
            else if (info.Available == info.AllSeasons)
            {
                playButton = "play-buttonG.png";
            }
            <a class="item" asp-area="" asp-controller="ItemView" asp-action="Index" asp-route-id="@movie.Id" asp-route-type="Movie">
                <img src="~/img/Movie_imgs/@movie.Img" alt="@movie.Name" />
                <div class="itemName">
                    <p>@movie.Name</p>
                </div>
                <span class="p-0 px-1 itemInfoBox d-flex">
                    <div class="itemInfoSupBox itemInfoLeft">
                        <div class="itemInfoSup itemInfoHide">
                            <div class="itemInfoBack">
                                <div class="itemInfoText ps-1">S @info.AllSeasons</div>
                            </div>
                        </div>
                    </div>

                    <div class="itemInfoSupBox itemInfoRight">
                        <div class="itemInfoSup">
                            <div class="itemInfoBack2">
                                <div class="itemInfoText ps-1">
                                    S @info.Available
                                </div>
                            </div>
                        </div>
                        <div class="itemInfoSup itemInfoHide ms-1">
                            <div class="itemInfoBack2">
                                <div class="itemInfoText ps-1">
                                    <img class="" src="~/img/@playButton" />
                                </div>
                            </div>
                        </div>
                    </div>

                </span>
            </a>
        }
    </div>

    <div class="w-100 extra-space">
        <div class="extra-fill">
        </div>
        <div class="extra">
            <select class="form-control" id="FSK-search" name="spezial-search">
                @foreach (var fskOtrion in OptionHelper.ViewFSKOptions)
                {
                    <option value="@fskOtrion" selected="@(Model.CurrentFilter == fskOtrion)">@fskOtrion</option>
                }
            </select>
        </div>
    </div>

    <!-- Pagination -->
    <div class="w-100 Pagination text-center mt-3">
        <ul class="pagination justify-content-center">

            <!-- Zurück -->
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a href="#" class="page-link pagination-link btn-primary" data-page="@(Model.CurrentPage - 1)">
                    <img class="rotate-180" src="~/img/smal_arrows.png" />
                </a>
            </li>

            @{
                int startPage = Math.Max(1, Model.CurrentPage - 2);
                int endPage = Math.Min(Model.TotalPages, startPage + 4);

                if (endPage - startPage < 4)
                {
                    startPage = Math.Max(1, endPage - 4);
                }

                for (int i = startPage; i <= endPage; i++)
                {
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a href="#" class="page-link pagination-link btn-primary" data-page="@i">@i</a>
                    </li>
                }
            }

            <!-- Vor -->
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a href="#" class="page-link pagination-link btn-primary" data-page="@(Model.CurrentPage + 1)">
                    <img src="~/img/smal_arrows.png"/>
                </a>
            </li>

        </ul>
    </div>

</div>